HEDERA_PRIVATE_KEY=3030020100300706052b8104000a042204205648c557058c377a36fc9cc45c6f2c2c5bdd1eda4b33ed18a9238d01cd9753fd   # accepts ED25519 and ECDSA private keys both DER and HEX encoded
HEDERA_ACCOUNT_ID=0.0.5864655       # ex.0.0.5392887
HEDERA_NETWORK_TYPE= 'testnet'      # 'mainnet', 'testnet' or 'previewnet'
HEDERA_KEY_TYPE= 'ECDSA'           # 'ECDSA' or 'ED25519'

# defaults for ElizaOS - used for npm test
ELIZAOS_REST_HOSTNAME=localhost
ELIZAOS_REST_PORT=3000